.title-large {
  font-size: 80px;
  line-height: 75px;
}
.text-orange {
  color: orange;
}
.text-red {
  color: red;
}
.text-blue {
  color: #0e97ff;
}
.text-green {
  color: #17b303;
}

#contact ::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

#contact :-moz-placeholder {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

#contact :-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}
#contact p {
      margin: 0 0 10px;
}
